@import "tailwindcss";

@theme {
    --font-google-sans: "Google Sans", sans-serif;
    --font-outfit: "Outfit", sans-serif;
    --color-light: #c5bcad;
    --color-dark: #0f0f0f;
}

@font-face {
    font-family: "Google Sans";
    src: url("./assets/fonts/Google_Sans/GoogleSans-VariableFont_GRAD,opsz,wght.ttf") format("truetype-variations");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Outfit";
    src: url("./assets/fonts/Outfit/Outfit-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 100 900;
    font-style: normal;
}